{%extends "layout.html"%}

{%block content%}
<div class="content-section">
<h1>Sobre o site</h1><br>

<h4>O que é o DSP?</h4>
    
<p class="text-justify">A sigla significa Direito Sem Preconceito, que venho de um propósito de oferecer um espaço aberto para acadêmicos do curso de direito trocarem informações práticas em relação aos estudos feitos em aula, e suas experiências fora de aula, tornando assim um ambiente propício para os acadêmicos desenvolverem seu espírito de equipe e liderença.</p><br>

<h4>Objetivo</h4>

<p class="text-justify">Pois bem, o "Direito Sem Preconceito" venho para destravar sua mente, levar você a outra era, a era do compartilhamento mútuo e amigável, condicionando todos evoluirem juntos,  sem preconceito com liturgias, correntes doutrinárias ou políticas, um ambiente ideal para você evoluir e levar seu colega junto.</p><br>

<h4>Ferramentas</h4>

<p class="text-justify">
    
    <ol>
        <li class="margin-top">
           <strong> Blog Post:</strong> sistema para compartilhar informações e visualizar informações dos colegas.</li>
        <li class="margin-top">
           <strong> Pesquisa: </strong> sistema para você pesquisar postagens ou perfis específicos do seu interesse.</li>
        <li class="margin-top ">
           <strong> Peticionamento: </strong> sistema com inteligência para oferecer uma tese e todo quadro para o acadêmico desenvolver a petição</li>
    </ol>
</p>
</div>

{%endblock%}