{%extends "layout.html"%}

{%block content%}
<h1>Sobre o site</h1><br>
<h3>O que é o Direito Sem Preconceito?</h2>
    
<p class="text-justify">É um espaço aberto para acadêmicos do Curso de Direito trocarem informações práticas em relação aos estudos feitos em aula, e suas experiências fora de aula, tornando assim um ambiente propício para os acadêmicos desenvolverem seu espírito de equipe e liderença.</p><br>

<h4>Objetivo</h4>

<p class="text-justify">Pois bem, o "Direito Sem Preconceito" venho para destravar sua mente, levar você a outra era, a era do compartilhamento mútuo e amigável, condicionando todos evoluirem juntos,  sem preconceito com liturgias, correntes doutrinárias ou políticas, um ambiente ideal para você evoluir e levar seu colega junto.</p>

{%endblock%}