{%extends "layout.html"%}

<!---
Primeiro passo: from. acessar a instância do \
formulário que foi passado para o template,
Depois hidden_tag() vai ocultar e adicionar um\
token para proteger o usuário com base na key.

Segundo passo: Fieldset, será um conjunto de\
campos para o usuário; Legend, lengada para o 
formulário de registro;

Terceiro passo campo div irá guarda informações\
o nome do usuário, password, email, para imprimir\
Toda parte dentro do div está ligado ao form.py,\
sendo as variáveis aplicada ao caso.
form submit, btn btn-outline será um botão com contorno
azul que se aplica para as regras do bootstrap.
Div border vai criar na parte superior uma frase
com link mostrando o acesso ao login.
href vai acessar a parte da função def login,
por meio do url_for('login').



-->

{%block content%}

<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Acessar a Conta</legend>

      <div class="form-group">
        {{form.email.label(class="form-control-label")}} {% if form.email.errors
        %}
        <!---se o usuário digitar errado:-->
        {{form.email(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.email.errors%}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{form.email(class="form-control form-control-lg")}} {% endif
        %}
      </div>
      <div class="form-group">
        {{form.password.label(class="form-control-label")}} {% if
        form.password.errors %}
        <!---se o usuário digitar errado:-->
        {{form.password(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
          {% for error in form.password.errors%}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{form.password(class="form-control form-control-lg")}} {%
        endif %}
      </div>
      <div class="form-check">
        {{ form.remember(class="form-check-input") }} {{
        form.remember.label(class="form-check-label") }}
      </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class="btn btn-outline-info")}}
      <small class="text-muted ml-2">
        <a href="{{url_for('users.reset_request')}}">Esqueceu a Senha?</a>
      </small>
    </div>
    
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    Precisa de uma Conta?<a class="ml-2" href="{{ url_for('users.register')}}">
      Clique aqui</a
    >
  </small>
</div>


{%endblock content%}
